.change-password-form {
  width: 60%;

  box-shadow: 0 2px 4px rgba(3, 31, 71, 0.1);
  padding: 5px 10px;
  border-radius: 8px;
}

.example-full-width {
  width: 100%;
}

.submit-button {
  padding: 10px 12px;
  background-color: #011F4B;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}
.submit-button:hover {
  color: #011F4B;
  background-color: white;
  border: 1px solid #0052a0;
  cursor: pointer;
}
.error {
  font-size: 10px;
  color: red;
}


.wrapper{
  margin:20px 0 0 0;
  border:1px solid rgba(0, 0, 0,0.3);
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:4px ;
  padding:20px 0;

  
 
}

mat-label{
  font-size:14px;  

}
