<section class="wrapper">
 
   
        
        
          <form class="change-password-form" [formGroup]="changepasswordForm" (ngSubmit)="onSubmit()" appearance="outline">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput  placeholder="example@gmail.com"  formControlName="email" required class="rounded-2xl">
              <div class="email-input" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                <div  class="error" *ngIf="email?.hasError('required')">Email is required.</div>
                <div  class="error" *ngIf="email?.hasError('email')">Email should be valid.</div>
              </div>
            </mat-form-field>
          
          
            
              <mat-form-field class="example-full-width" appearance="outline" >
                <mat-label>Old password</mat-label>
                <input matInput placeholder="password" formControlName="oldPassword">
                <div *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)">
                  <div  class="error" *ngIf="oldPassword?.hasError('required')">Password is required.</div>
                  <div   class="error" *ngIf="oldPassword?.hasError('minlength')">Password must be at least 4 characters long.</div>
                </div>
              </mat-form-field>
              
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput placeholder="password" formControlName="newPassword">
                <div *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)">
                  <div  class="error" *ngIf="newPassword?.hasError('required')">Password is required.</div>
                  <div   class="error" *ngIf="newPassword?.hasError('minlength')">Password must be at least 4 characters long.</div>
                </div>
              </mat-form-field>
              
             
            
            <button mat-raised-button color="primary" class="submit-button" >Change Password</button>
            </form>
      

</section>
