.change-password-form {
  width: 50%;
  margin: 10px auto;
  box-shadow: 0 2px 4px rgba(3, 31, 71, 0.1);
  padding: 10px 15px;
  border-radius: 8px;
}

.example-full-width {
  width: 100%;
}

.submit-button {
  padding: 15px 20px;
  background-color: #011F4B;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}
.submit-button:hover {
  color: #011F4B;
  background-color: white;
  border: 1px solid #0052a0;
  cursor: pointer;
}
.error {
  font-size: 14px;
  color: red;
}
