.table-container {
 width:100%;
 
  overflow-y: auto;
  max-height: 70vh; 

}
 th{
  position: sticky;
  top:0;
 }
  .check-box{
    z-index: 1000;
  }
  /* Optional: Style for the scrollbar */
  .table-container::-webkit-scrollbar {
    width: 10px;
  }
   
  .table-container::-webkit-scrollbar-thumb {
    background-color: #b0bec5; /* Custom scrollbar color */
    border-radius: 4px;
  }
  
  .table-container::-webkit-scrollbar-track {
    background: #f0f0f0; /* Track background color */
  }
  .table-container h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    text-align: center; /* Center-aligns the heading */
  } 
 .tool-bar-container{
  margin-bottom: 15px;
 }
 .mat-toolbar{
  height:100px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid #ddd;
 
 }
 span{
  margin-left:10px;
 }
 
 .my-icon{
  color:rgb(0, 0, 255);
  transition:all 200ms ease;
 }
 .my-icon:hover{
  color:rgba(0, 0, 255,0.5)
 }
