<section class="wrapper">
  <h2><span>Drivers'</span> Data</h2>
  <section class="table-features">
    <h3>Table Features</h3>
<mat-form-field>
  <mat-label>Filter by Driver Options</mat-label>
  <mat-select multiple>
    <mat-optgroup *ngFor="let group of driverFilterGroups" [label]="group.name" [disabled]="group.disabled">
      <mat-option *ngFor="let option of group.filterOptions" [value]="option.value">
        {{ option.viewValue }}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>

  </section>
 
</section>