<!-- <header class="header">
    <div class="header-content">
      Profile Photo
      <img [src] ="profile" alt=" Photo" class="profile-photo">
  
      Notification Icon -->
      <!-- <div class="notifications">
        <lucide-angular [img]="notification" class="bell-icon"></lucide-angular>
      </div>
    </div>
  </header>
   -->
  <header >
    <a [routerLink]="settings"><img  [src]="profilePictureUrl"  alt="profile"></a>
    <lucide-angular [img]="calendar" class="icon"></lucide-angular>
    <span>{{date |date: "mediumDate"}}</span>
  </header>
