

.key-metric-card{
  width:100%;
  height:100%;
 text-align: center;
 color:white; 
  /* background-color: #005b96; */
 /* color:black; */
 background-color: #0052A0;

}
.metric-value{
  font-weight: 900;
}
mat-card-title{
  font-weight: 400;
}
