<div class="container">
  <div class="main-content">
    <h2>Drivers</h2>
    <mat-grid-list cols="5" gutterSize="10px">
      <mat-grid-tile>
        <mat-card class="key-metric-card">
          <mat-card-header>
            <mat-card-title>
              <lucide-angular
                [img]="icons.driver"
                class="my-icon"
                alt="total registered drivers"
                [size]="icons.size"
              ></lucide-angular>
              <br />
              Total Registered Drivers
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="metric-value"> 5000 </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="key-metric-card">
          <mat-card-header>
            <mat-card-title>
              <lucide-angular
                [img]="icons.activationRate"
                class="my-icon"
                alt="driver activation rate"
                [size]="icons.size"
              ></lucide-angular>
              <br />
              Driver Activation Rate
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="metric-value"> 5000 </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="key-metric-card">
          <mat-card-header>
            <mat-card-title>
              <lucide-angular
                [img]="icons.requestRate"
                class="my-icon"
                [size]="icons.size"
                alt="Average Request Per Driver"
                [size]="icons.size"
              ></lucide-angular>
              <br />
              Average Request Per Driver
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="metric-value"> 5000 </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="key-metric-card last-card" id="last-card">
          <mat-card-header>
            <mat-card-title>
              <lucide-angular
                [img]="icons.rating"
                class="my-icon"
                alt="average driver rating"
                [size]="icons.size"
              ></lucide-angular>
              <br />
              Average Driver Rating
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="metric-value"> 5000 </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="key-metric-card">
          <mat-card-header>
            <mat-card-title>
              <lucide-angular
                [img]="icons.active"
                class="my-icon"
                alt="total active drivers"
                [size]="icons.size"
              ></lucide-angular>
              <br />
              Total Active Drivers
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="metric-value"> 5000 </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
