/* importing roboto font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:wght@400;900&family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
  
}
.container{
    width:80%;
    margin:0 auto;
    /* border: 2px solid yellow; */
    max-width:710px;
   
}
.hero{
    background-color: #23424A;
    padding:100px 0;
}
.hero-text{
    width:60%;
    color:white;
    
   
}
.hero-text h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #38cfd9;
    color: #23424A;
    display:inline-block;
    width:50%;
    margin-top:20px;
    padding:0.7em 0.5em;
    border-radius: 100px;
    border: none;
}